# Ignore docker-compose logs
log-docker-compose/

./frontend/node_modules/
./backend/node_modules/
./backend/venv/
./backend/.venv/
./backend/.env
./backend/.env.local
./backend/.env.development
./backend/.env.production
./backend/.env.test
./backend/.env.staging
./backend/.env.example
./backend/.env.local.example
./backend/.env.development.example
./backend/.env.production.example
./backend/.env.test.example